/*Header*/

ul li a{
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

header{
    margin-bottom: 10px;
}

.tamanho-nav{
    height: 24px;
    display: flex;
    align-items: center;
}

.nav-centro{
    padding-left: 600px;
} 

/*Alinhamento*/

.centro{
    display: flex;
    align-items: center;
}

.margin{
    margin-top: 20px;
}

.imagem{
    width: 15%;
    height: 15%;
    margin: 10px;
}

.mapa{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}

.imagem-play{
    max-width: 50%;
    margin-left: 27%;
    margin-right: 130px;
}


#logo{
    height: 10%;
    width: 10%;
    align-items: center;
    margin-left: 10px;
}

.home-figura{
    margin-top: 30px;
    width: 78%;
    max-height: 270%;
}

.imagem-radio{
    border-radius: 30%;
    max-width: 300px;
}

.row{
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

body{
    margin: 30px;
}

.centralizando{
    margin: 60px 20px 10px;
}


footer{
    padding-top: 50px;
    background-color: white;
}

.icones{
        height: 80%;
}

.content{
    background: url("../img/icones.png");
    padding-right: 358px;
    padding-left: 358px;
    padding-top: 50px;
}

.tamanho-botao{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/*Fonte*/

p{
    font-size: 20px;
}

.texto-home{
    font-size: 110px;
    color: black;
    text-align: center;
    padding-right: 70px;
    font-weight: bolder;
}

h2, h3, h4{
    font-weight: bolder;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

h2{
    padding-top: 110px;
}

.texto-box{
    font-size: 25px;
}

*{
    font-family: 'Bree Serif', serif;
}

/*sections*/

#comoColaborar{
    min-height: 400px; 
    background-color: white;
}

#ONGs{
   min-height: 400px;
   background-color: white;
   opacity: 1;
}

#acoesVoluntarias{
   min-height: 400px;
   background-color: white;
}

#contato{
    min-height: 350px;
    background-color: white;
}

#acoesVoluntarias button{
    margin: 10px;
    font-size: 25px;
}


/* Responsividade */

  @media screen and (max-width:768px){
      .tamanho-botao{
        width: 150px;
      }
      #acoesVoluntarias button{
          font-size: 20px;
      }
      #acoesVoluntarias{
          min-height: 450px;
      }
      .nav-centro{
        padding-left: 0px;
      } 
       .home-figura{
        background-repeat: no-repeat;
        width: 120%;
        max-height: 70%;
        align-items: center;
        padding-right: 20px;
        background-size: cover;
        }

        .texto-home{
        margin-top: 0;
        color: black;
        font-weight: bolder;
        padding: 0;
        width: 100%;
        }

        h2{
            font-size: 20px;
            padding-top: 0px;
        }

        h3{
            font-size: 15px;
        }

        .home{
            min-height: 200px;
            display: block;
        }
        .icones{
            height: 30%;
        }


        .margin{
            margin-top: 0;
        }

        .content{
            background: url("../img/icones.png");
            padding: 30px;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 10px;
        }

        .tamanho-botao{
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        .mapa{
            margin-top: 40px;
            width: 110%;
            height: 50%;
            margin-bottom: 40px;
        }  
        
        p{
            font-size: 15px;
        }
        .centralizando{
            margin: 0;
        }
    }

  /* Responsividade */  

  @media screen and (max-width: 1600px) and (min-width: 768px){
    .nav-centro{
        padding-left: 300px;
    } 
    .tamanho-botao{
        width: 150px;
        height: 100px;
        margin: 0 auto;
    }
    .content{
        background: url("../img/icones.png");
        padding-left: 80px;
        padding-top: 20px;  
        padding-right: 160px;      
    }
    .row{
         padding-right: 30px;
    }

    }

  