ul li a{
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

header{
    margin-bottom: 10px;
}

.tamanho-nav{
    height: 24px;
    display: flex;
    align-items: center;
}

.centro{
    display: flex;
    align-items: center;
}

.margin{
    margin-top: 100px;
}

.nav-centro{
    padding-left: 600px;
}

.imagem{
    width: 15%;
    height: 15%;
    margin: 10px;
}

.mapa{
    margin-top: 20px;
    width: 50%;
    height: 30%;
}

.texto-home{
    font-size: 110px;
    margin-top: 330px;
    color: black;
    text-align: center;
    padding-right: 70px;
    font-weight: bolder;
   
}

h2, h3, h4{
    font-weight: bolder;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

.imagem-play{
    max-width: 50%;
    margin-left: 5%;
   margin-right: 130px;
}


#logo{
    height: 10%;
    width: 10%;
    align-items: center;
    margin-left: 10px;
}


.texto-box{
    font-size: 25px;
}

.home{
    min-height: 400px;
    background-color: white;
    display: flex;

}

.home-figura{
    background: url("../img/smartphone.png");
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 30px;
    width: 78%;
    max-height: 100%;
    background-size: cover;
}

.imagem-radio{
    border-radius: 30%;
    max-width: 300px;
}

*{
    font-family: 'Bree Serif', serif;
}

#comoColaborar{
    height: 400px; 
    background-color: white;
}

#ONGs{
   height: 400px;
   background-color: white;
   opacity: 1;
}

#acoesVoluntarias{
   height: 400px;
   background-color: white;
}

#contato{
    height: 275px;
    background-color: white;
}

body{
    margin: 30px;
}

.content{
    background: url("../img/icones.png");
    padding: 58px;
}

.tamanho-botao{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#acoesVoluntarias button{
    margin: 10px;
    font-size: 25px;
}

  @media screen and (max-width:768px){
      .tamanho-botao{
        width: 150px;
      }
      #acoesVoluntarias button{
          font-size: 20px;
      }
      #acoesVoluntarias{
          height: 1150px;
      }
  }

  .row{
      background-color: white;
  }

footer{
    padding-top: 50px;
    background-color: white;
}

.icones{
    height: 80%;
}